
body{
    background-image: url("../Images/background.jpg");
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.general{
    border-radius: 100px;
    border: 2px solid crimson;
    background-size:cover;                    
    background-repeat:no-repeat;   
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-top: 20%;
    margin-bottom: 15%;
    font-size: 30px;
    background: rgba(57, 22, 155, 0.5);
    color:goldenrod;
}
#start{
    background-color: crimson; 
    border-radius: 100px;
    border: 2px solid goldenrod;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

